
.form{
    width:300px;
    background-color: white;
    padding: 30px;
    form h1{
        font-size: 20px;
        color: red;
    }
    form{
        display: flex;
        justify-content: center;
        align-items:center ;
        flex-direction: column;
        gap: 30px;


    }
    
    .form.feild{
        width: 100%;

    }
    label{
        display: block;
        font-size: 18px;
    }
    input{
        display: block;
        outline: none;
        border: 1px solid black;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
    }
    form button{
        // border: none;
        color: white;
        outline: none;
        display: flex;
        padding: 4px 8px;
        color: black;
        background-color: white(203, 125, 30);
        border-radius: 4px;
        
    }
    form button:hover{
        transition:all 2s;
        color: red;
        cursor: pointer;
    }

}
