.navbar {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px;
  color: black;

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .navbar,
  h2 {
    font-size: 20px;
  }
  .logout button {
    display: flex;
    padding: 5px 20px;
    border-color: rgb(18, 95, 18);
    background-color: transparent;
    border-radius: 5px;
    font-size: 15px;
  }

  .logout span{
    margin-right: 10px;
    color: rgb(75, 199, 122);
  }
  .logout{
    display: flex;
    justify-content:center ;
    align-items: center;

  }
}
